#top-car {
  position: relative;
  margin: 0 auto;
}

#top-car .content {
  position: absolute;
  top: 75%;
  transform: translateY(-25%);
  margin: 0;
  padding: 0;
  text-align: center;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.5);
  color: rgb(255,255,255); /* fallback color */
  color: rgba(255,255,255,0.96);
  text-shadow: 0 5px 10px rgba(0,0,0,0.7);
  width: 65%;
}

#about h2 {
  color: #595959;
  text-align: center;
}

#about p {
  color: #808080;
  text-align: justify;
}

.well li {
  font-size: 16px;
  padding: 3px;
}

#footer {
  text-align: center;
  background-color: rgba(211,211,211,0.4);
  padding: 1px 0;
}

#contact {
  text-align: center;
  color: #595959;
}

.contact {
  color: #808080;
  font-size: x-large;
  text-align: center;
  vertical-align: center;
  padding-top: 20px;
}

#email {
  font-weight: bold;
}

/*Note: I realize that the above formatting for #email would have been easier to do as an inline style using the <strong> tag. However, the project instructions called for us to use at least one <span> tag, and so I used one here.*/
